.product-slide {
    height: 70vh !important;
}

.product-slide-img {
    width: 14vw;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--white);
    text-decoration: none;
    color: var(--black);
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

.product-img {
    width: 35vw;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    gap: 2.5rem;
}