@import 'header.css';

:root {
  --red: #FF7373;
  --blue: #538EFF;
  --yellow: #FFE072;
  --black: #070707;
  --white: #FDFDFD;
  --light-gray: #F0F0F0;
}

body {
  background-color: var(--light-gray);
}

.admin-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4 , 1fr);
}

.secondary-container {
  background-color: var(--white);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.1),0px 3px 3px -3px rgba(0,0,0,0.1),0px 3px 3px -3px rgba(0,0,0,0.1);

}

#loginAlert {
  display: none;
}

.input {
  margin-bottom: 1.5rem;
}

.slide {
  background-color: red;
  height: 60vh;
}