@import 'header.css';

:root {
  --red: #FF7373;
  --blue: #538EFF;
  --yellow: #FFE072;
  --black: #070707;
  --white: #FDFDFD;
  --light-gray: #F0F0F0;
}

body {
  background-color: var(--light-gray);
}

.input {
  margin-bottom: 1.5rem;
}

.slide {
  background-color: red;
  height: 60vh;
}